IndentWidth: 8
TabWidth: 8
UseTab: AlignWithSpaces

PointerAlignment: Left
SpaceBeforeParens: ControlStatements

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
AllowShortFunctionsOnASingleLine: None

BreakBeforeBinaryOperators: None
AlignOperands: DontAlign
AlignEscapedNewlines: DontAlign
AlignConsecutiveDeclarations: Consecutive

InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtEndOfFile: true
