IndentWidth: 8
TabWidth: 8
UseTab: AlignWithSpaces

PointerAlignment: Left
SpaceBeforeParens: ControlStatements

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  BeforeElse: true
AllowShortFunctionsOnASingleLine: None

BreakBeforeBinaryOperators: None
AlignOperands: DontAlign
AlignEscapedNewlines: DontAlign

InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtEndOfFile: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<(assert|ctype|errno|float|limits|locale|math|setjmp|signal|stdarg|stddef|stdio|stdlib|string|time)\.h>$'
    Priority: 1
  - Regex:    '^<.*>$'
    Priority: 2
  - Regex:    '^".*"$'
    Priority: 3

