IndentWidth: 8
TabWidth: 8
UseTab: Always

PointerAlignment: Left
SpaceBeforeParens: ControlStatements

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false

BreakBeforeBinaryOperators: None
AlignOperands: DontAlign

InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: true

